* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: gold;
  font-family: "Orbitron", sans-serif;
}

body {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#adate {
  height: 4rem;
  width: 20rem;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  outline: none;
  border-bottom-style: dashed;
}

#time {
  display: flex;
  height: 12rem;
  width: 40rem;
  font-size: 5rem;
  flex-flow: column-reverse;
  text-align: center;
  outline: none;
  border-bottom-style: dashed;
}
